body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.lang {
  cursor: pointer;
  color: #666;
}

.lang.active {
  color: #ff2d2d;
  font-weight: bold;
}

.form-control {
  height: 45px;
}

.btn-outline-danger {
  border-color: #ff2d2d;
  color: #ff2d2d;
}

.btn-outline-danger:hover {
  background-color: #ff2d2d;
  color: white;
}
