body {
  background-color: #111;
  color: white;
}

/* NAVBAR */
.navbar {
  background-color: black;
}

/* HERO */
.seccion-principal {
  height: 250px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://cdn.teleticket.com.pe/especiales/megadeth-lima-2026/images/banner.jpg");

  background-size: cover;
  background-position: center;
}

/* CARDS */
.card {
  border-radius: 15px;
}

/* INPUTS */
.form-control,
.form-select {
  border-radius: 10px;
}

/* BOTONES */
.btn-danger {
  font-size: 18px;
}

/* FOOTER */
.pie {
  border-top: 1px solid #333;
}